.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}
.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;

  display: inline-block;
}
.btn-primary {
  background-color: $primary;
  color: $text-light;
  box-shadow: 0 4px 4px #8f8f8f;
}
.btn-block {
  display: block;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
}
.form-control {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.3rem;
  border: 1px solid #ddd;
  &:focus {
    outline: 1px solid $primary;
  }
}
textarea.form-control {
  resize: none;
  height: 80px;
}
.form-group {
  margin: 1rem 0;
  label {
    display: inline-block;
    margin: 0.5rem 0;
  }
}
.input-text {
  display: inline-block;
  margin: 0.5rem 0;
  font-weight: 600;
  color: #8f8f8f;
}
.emphasized {
  color: $primary;
  font-weight: 700;
}
